In [201]:
import pandas as pd

In [202]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [203]:
sum(df.duplicated())

0

In [204]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [205]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [206]:
df = df.drop(columns=['CustomerId', 'RowNumber', 'Surname'], axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [207]:
from sklearn.preprocessing import LabelEncoder

In [208]:
encoder = LabelEncoder()

def col_encoder(*args, df: pd.DataFrame):
    for arg in args:
        df[arg] = encoder.fit_transform(df[arg])
    return df

In [209]:
col_encoder('Geography', 'Gender', df=df)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [210]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [212]:
df.to_csv('modified_churn.csv')

In [211]:
df.columns = df.columns.str.lower()

In [165]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [166]:
type(X), type(y)

(numpy.ndarray, numpy.ndarray)

In [167]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [168]:
type(X_train), type(X_test), type(y_train), type(y_test)

(numpy.ndarray, numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [169]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [170]:
type(X_train), type(X_test), type(y_train), type(y_test)

(numpy.ndarray, numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [171]:
import torch 

X_train_tensor = torch.from_numpy(X_train).float()
X_test_tensor = torch.from_numpy(X_test).float()
y_train_tensor = torch.from_numpy(y_train).float()
y_test_tensor = torch.from_numpy(y_test).float()

In [172]:
type(X_train_tensor), type(X_test_tensor), type(y_train_tensor), type(y_test_tensor)

(torch.Tensor, torch.Tensor, torch.Tensor, torch.Tensor)

In [193]:
import torch.nn as nn

class NN(nn.Module):
    
    def __init__(self, num_features):
        super(NN, self).__init__()
        self.n_net = nn.Sequential(
            nn.Linear(num_features, 32),
            nn.ReLU(),
            nn.Linear(32, 32),
            nn.ReLU(),
            nn.Linear(32, 1),
        )
        
    def forward(self, features):
        return self.n_net(features)

In [195]:
epochs = 100
lr = 0.01
loss_function = nn.BCEWithLogitsLoss() # binary cross entropy with sigmoid activation function

In [196]:
X_train_tensor.dtype, X_test_tensor.dtype, y_train_tensor.dtype, y_test_tensor.dtype

(torch.float32, torch.float32, torch.float32, torch.float32)

In [197]:
model = NN(num_features=X_train_tensor.shape[1])

optimizer = torch.optim.Adam(model.parameters(), lr=lr)

In [198]:
for epoch in range(epochs):
    model.train()
    y_hat = model(X_train_tensor)  # Output shape: [8000, 1]
    loss = loss_function(y_hat, y_train_tensor.view(-1,1))  # Target shape: [8000, 1]
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
    print(f"Epoch: {epoch + 1}, Loss: {loss.item():.4f}")

Epoch: 1, Loss: 0.7289
Epoch: 2, Loss: 0.6855
Epoch: 3, Loss: 0.6423
Epoch: 4, Loss: 0.6006
Epoch: 5, Loss: 0.5649
Epoch: 6, Loss: 0.5399
Epoch: 7, Loss: 0.5270
Epoch: 8, Loss: 0.5220
Epoch: 9, Loss: 0.5175
Epoch: 10, Loss: 0.5087
Epoch: 11, Loss: 0.4961
Epoch: 12, Loss: 0.4825
Epoch: 13, Loss: 0.4705
Epoch: 14, Loss: 0.4619
Epoch: 15, Loss: 0.4567
Epoch: 16, Loss: 0.4539
Epoch: 17, Loss: 0.4517
Epoch: 18, Loss: 0.4490
Epoch: 19, Loss: 0.4455
Epoch: 20, Loss: 0.4416
Epoch: 21, Loss: 0.4380
Epoch: 22, Loss: 0.4353
Epoch: 23, Loss: 0.4337
Epoch: 24, Loss: 0.4329
Epoch: 25, Loss: 0.4324
Epoch: 26, Loss: 0.4315
Epoch: 27, Loss: 0.4301
Epoch: 28, Loss: 0.4283
Epoch: 29, Loss: 0.4263
Epoch: 30, Loss: 0.4247
Epoch: 31, Loss: 0.4234
Epoch: 32, Loss: 0.4225
Epoch: 33, Loss: 0.4216
Epoch: 34, Loss: 0.4204
Epoch: 35, Loss: 0.4190
Epoch: 36, Loss: 0.4173
Epoch: 37, Loss: 0.4156
Epoch: 38, Loss: 0.4139
Epoch: 39, Loss: 0.4124
Epoch: 40, Loss: 0.4109
Epoch: 41, Loss: 0.4092
Epoch: 42, Loss: 0.4071
Epoch: 43, Loss: 0.4047
Epoch: 44, Loss: 0.4021
Epoch: 45, Loss: 0.3995
Epoch: 46, Loss: 0.3969
Epoch: 47, Loss: 0.3942
Epoch: 48, Loss: 0.3914
Epoch: 49, Loss: 0.3882
Epoch: 50, Loss: 0.3850
Epoch: 51, Loss: 0.3818
Epoch: 52, Loss: 0.3787
Epoch: 53, Loss: 0.3756
Epoch: 54, Loss: 0.3726
Epoch: 55, Loss: 0.3695
Epoch: 56, Loss: 0.3666
Epoch: 57, Loss: 0.3638
Epoch: 58, Loss: 0.3613
Epoch: 59, Loss: 0.3589
Epoch: 60, Loss: 0.3567
Epoch: 61, Loss: 0.3548
Epoch: 62, Loss: 0.3532
Epoch: 63, Loss: 0.3518
Epoch: 64, Loss: 0.3507
Epoch: 65, Loss: 0.3496
Epoch: 66, Loss: 0.3488
Epoch: 67, Loss: 0.3480
Epoch: 68, Loss: 0.3474
Epoch: 69, Loss: 0.3469
Epoch: 70, Loss: 0.3465
Epoch: 71, Loss: 0.3460
Epoch: 72, Loss: 0.3455
Epoch: 73, Loss: 0.3450
Epoch: 74, Loss: 0.3445
Epoch: 75, Loss: 0.3440
Epoch: 76, Loss: 0.3434
Epoch: 77, Loss: 0.3427
Epoch: 78, Loss: 0.3421
Epoch: 79, Loss: 0.3415
Epoch: 80, Loss: 0.3409
Epoch: 81, Loss: 0.3404
Epoch: 82, Loss: 0.3399
Epoch: 83, Loss: 0.3394
Epoch: 84, Loss: 0.3389
Epoch: 85, Loss: 0.3384
Epoch: 86, Loss: 0.3380
Epoch: 87, Loss: 0.3376
Epoch: 88, Loss: 0.3372
Epoch: 89, Loss: 0.3368
Epoch: 90, Loss: 0.3365
Epoch: 91, Loss: 0.3361
Epoch: 92, Loss: 0.3358
Epoch: 93, Loss: 0.3354
Epoch: 94, Loss: 0.3350
Epoch: 95, Loss: 0.3346
Epoch: 96, Loss: 0.3342
Epoch: 97, Loss: 0.3338
Epoch: 98, Loss: 0.3334
Epoch: 99, Loss: 0.3329
Epoch: 100, Loss: 0.3325

In [200]:
model.eval()
with torch.no_grad():
    y_pred = model(X_test_tensor)
    y_pred_prob = torch.sigmoid(y_pred)
    y_pred_binary = (y_pred_prob > 0.5).float()
    accuracy = (y_pred_binary.squeeze() == y_test_tensor).float().mean()
    print(f"Test Accuracy: {round(accuracy.item() * 100, 2)}")

Test Accuracy: 85.85